#container {
  height: 1020px;
  margin: 0 auto;
  margin-top: 15%;
  width: 500px;
  background-color: #faf9fc;
}
img {
  padding-left: 10%;
  padding-top: 10%;
  border-radius: 10px;
}
.name {
  font-size: xx-large;
  padding-left: 5%;
  font-weight: bold;
}
.header {
  background-color: wheat;
}
#collect {
  position: relative;
  margin-top: 15%;
  height: 90px;
  background-color: #11c029;
}
.div1 {
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  background-color: wheat;
  height: 15%;
  width: 20%;
}
.div2 {
  height: 15%;
  width: 20%;
  float: right;
  position: relative;
  margin-top: 40%;
  margin-right: 20%;
  padding-right: 20px;
  background-color: wheat;
}
#button2 {
  height: 5%;
  width: 20%;
  margin-top: 400px;
  margin-left: 20%;
  position: relative;
  background-color: blueviolet;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
p {
  font-weight: bold;
}
