#container {
  height: 1020px;
  margin: 0 auto;
  margin-top: 15%;
  width: 500px;
  background-color: #faf9fc;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.round {
  border-radius: 50%;
}
h1 {
  color: #3b304c;
  opacity: 100%;
  position: absolute;
  padding-top: 5%;
  padding-left: 3%;
  font-family: sans-serif;
}
h2 {
  padding-top: 35%;
  padding-left: 10%;
  color: #3b304c;
}
#container span {
  font-size: larger;
}
h3 {
  color: grey;
  font-size: x-large;
  padding-left: 10%;
}

.in1 {
  border: 2px solid purple;
  border-radius: 10px;
  font-size: xx-large;
  color: blue;
  margin-top: 20%;
}
.in2 {
  border: 2px solid purple;
  border-radius: 10px;
  font-size: xx-large;
  color: blue;
  margin-top: 20%;
}
.in3 {
  border: 2px solid purple;
  border-radius: 10px;
  font-size: xx-large;
  color: blue;
  margin-top: 20%;
}
button {
  background-color: rebeccapurple;
  size: 16px;
  position: relative;
  margin-top: 40%;
  margin-left: 30%;
  height: 50px;
  width: 200px;
}
.text {
  color: white;
}
