<!DOCTYPE html>
<html>
    <head>
        <title>SplitPay</title>
        <link rel="icon" type="image" href="../Images/icon.jpg">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="Stylesheet" href="../CSS/login.css">
        <link rel="stylesheet" href="../CSS/payments.css">
        <link rel="stylesheet" href="../CSS/settings.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <script src="https://kit.fontawesome.com/bc6f27e589.js" crossorigin="anonymous"></script>
        <style>
            .userImage{
                width:150px;
                height: 150px;
                margin-left: 30px;
            }
            .choiceForm{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            button{
              border: 3px solid #5c07db;
              border-radius: 5px;
              width: 200px;
              height: 50px;
              font-size: 20px;
            }
        </style>
        <script>
            /**
             * Define the version of the Google Pay API referenced when creating your
             * configuration
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|apiVersion in PaymentDataRequest}
             */
            const baseRequest = {
              apiVersion: 2,
              apiVersionMinor: 0
            };
            /**
             * Card networks supported by your site and your gateway
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
             * @todo confirm card networks supported by your site and gateway
             */
            const allowedCardNetworks = ["MASTERCARD", "VISA"];
            /**
             * Card authentication methods supported by your site and your gateway
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
             * @todo confirm your processor supports Android device tokens for your
             * supported card networks
             */
            const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];
            /**
             * Identify your gateway and your site's gateway merchant identifier
             *
             * The Google Pay API response will return an encrypted payment method capable
             * of being charged by a supported gateway after payer authorization
             *
             * @todo check with your gateway on the parameters to pass
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#gateway|PaymentMethodTokenizationSpecification}
             */
            const tokenizationSpecification = {
              type: 'PAYMENT_GATEWAY',
              parameters: {
                'gateway': 'example',
                'gatewayMerchantId': 'exampleGatewayMerchantId'
              }
            };
            /**
             * Describe your site's support for the CARD payment method and its required
             * fields
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
             */
            const baseCardPaymentMethod = {
              type: 'CARD',
              parameters: {
                allowedAuthMethods: allowedCardAuthMethods,
                allowedCardNetworks: allowedCardNetworks
              }
            };
            /**
             * Describe your site's support for the CARD payment method including optional
             * fields
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
             */
            const cardPaymentMethod = Object.assign(
              {},
              baseCardPaymentMethod,
              {
                tokenizationSpecification: tokenizationSpecification
              }
            );
            /**
             * An initialized google.payments.api.PaymentsClient object or null if not yet set
             *
             * @see {@link getGooglePaymentsClient}
             */
            let paymentsClient = null;
            /**
             * Configure your site's support for payment methods supported by the Google Pay
             * API.
             *
             * Each member of allowedPaymentMethods should contain only the required fields,
             * allowing reuse of this base request when determining a viewer's ability
             * to pay and later requesting a supported payment method
             *
             * @returns {object} Google Pay API version, payment methods supported by the site
             */
            function getGoogleIsReadyToPayRequest() {
              return Object.assign(
                  {},
                  baseRequest,
                  {
                    allowedPaymentMethods: [baseCardPaymentMethod]
                  }
              );
            }
            
            /**
             * Configure support for the Google Pay API
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|PaymentDataRequest}
             * @returns {object} PaymentDataRequest fields
             */
            function getGooglePaymentDataRequest() {
              const paymentDataRequest = Object.assign({}, baseRequest);
              paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
              paymentDataRequest.transactionInfo = getGoogleTransactionInfo();
              paymentDataRequest.merchantInfo = {
                // @todo a merchant ID is available for a production environment after approval by Google
                // See {@link https://developers.google.com/pay/api/web/guides/test-and-deploy/integration-checklist|Integration checklist}
                // merchantId: '12345678901234567890',
                merchantName: 'Example Merchant'
              };
              return paymentDataRequest;
            }
            
            /**
             * Return an active PaymentsClient or initialize
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/client#PaymentsClient|PaymentsClient constructor}
             * @returns {google.payments.api.PaymentsClient} Google Pay API client
             */
            function getGooglePaymentsClient() {
              if ( paymentsClient === null ) {
                paymentsClient = new google.payments.api.PaymentsClient({environment: 'TEST'});
              }
              return paymentsClient;
            }
            
            /**
             * Initialize Google PaymentsClient after Google-hosted JavaScript has loaded
             *
             * Display a Google Pay payment button after confirmation of the viewer's
             * ability to pay.
             */
            function onGooglePayLoaded() {
              const paymentsClient = getGooglePaymentsClient();
              paymentsClient.isReadyToPay(getGoogleIsReadyToPayRequest())
                  .then(function(response) {
                    if (response.result) {
                      addGooglePayButton();
                      // @todo prefetch payment data to improve performance after confirming site functionality
                      // prefetchGooglePaymentData();
                    }
                  })
                  .catch(function(err) {
                    // show error in developer console for debugging
                    console.error(err);
                  });
            }
            
            /**
             * Add a Google Pay purchase button alongside an existing checkout button
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#ButtonOptions|Button options}
             * @see {@link https://developers.google.com/pay/api/web/guides/brand-guidelines|Google Pay brand guidelines}
             */
            function addGooglePayButton() {
              const paymentsClient = getGooglePaymentsClient();
              const button =
                  paymentsClient.createButton({onClick: onGooglePaymentButtonClicked});
              document.getElementById('container').appendChild(button);
            }
            
            /**
             * Provide Google Pay API with a payment amount, currency, and amount status
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#TransactionInfo|TransactionInfo}
             * @returns {object} transaction info, suitable for use as transactionInfo property of PaymentDataRequest
             */
            function getGoogleTransactionInfo() {
              return {
                countryCode: 'US',
                currencyCode: 'USD',
                totalPriceStatus: 'FINAL',
                // set to cart total
                totalPrice: '1.00'
              };
            }
            
            /**
             * Prefetch payment data to improve performance
             *
             * @see {@link https://developers.google.com/pay/api/web/reference/client#prefetchPaymentData|prefetchPaymentData()}
             */
            function prefetchGooglePaymentData() {
              const paymentDataRequest = getGooglePaymentDataRequest();
              // transactionInfo must be set but does not affect cache
              paymentDataRequest.transactionInfo = {
                totalPriceStatus: 'NOT_CURRENTLY_KNOWN',
                currencyCode: 'USD'
              };
              const paymentsClient = getGooglePaymentsClient();
              paymentsClient.prefetchPaymentData(paymentDataRequest);
            }
            
            /**
             * Show Google Pay payment sheet when Google Pay payment button is clicked
             */
            function onGooglePaymentButtonClicked() {
              const paymentDataRequest = getGooglePaymentDataRequest();
              paymentDataRequest.transactionInfo = getGoogleTransactionInfo();
            
              const paymentsClient = getGooglePaymentsClient();
              paymentsClient.loadPaymentData(paymentDataRequest)
                  .then(function(paymentData) {
                    // handle the response
                    processPayment(paymentData);
                  })
                  .catch(function(err) {
                    // show error in developer console for debugging
                    console.error(err);
                  });
            }
            /**
             * Process payment data returned by the Google Pay API
             *
             * @param {object} paymentData response from Google Pay API after user approves payment
             * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData|PaymentData object reference}
             */
            function processPayment(paymentData) {
              // show returned data in developer console for debugging
                console.log(paymentData);
              // @todo pass payment token to your gateway to process payment
              paymentToken = paymentData.paymentMethodData.tokenizationData.token;
            }</script>
            <script async
              src="https://pay.google.com/gp/p/js/pay.js"
              onload="onGooglePayLoaded()">
            </script>
                    </div>
                    <script>
                        const back = () =>{
                            window.history.back();
                        };
                        const update_img = (event) =>{
                            var d_img = document.getElementById("img-s");
                            var out = event.target.files[0];
                            d_img.src = URL.createObjectURL(out);
                        };
                    </script>
    </head>
    <body>
        <div class="m-container">
            <div class="b-head">
                <h3 style="display: inline-block; font-size: 40px;margin-left: 15px;">Settling Up</h3>
            </div>
            <div class="userDetails">
                <!-- <img src="../Images/atul_260x261.jpeg" class="userImage">
                <div class="textDetails"> -->
                    <h4 style="font-size: 30px;margin-left: 20px;">Choose mode of settling</h4>
                    <!-- <p>8879728598</p> -->
                </div>
                <div class="choiceForm">
                    <button onclick="settleUser()">Settle with cash.</button>
                    <p id="container"></p>
                </div>
            </div>
            <div class="bottomNav" style="background-color: rgb(242,242,242);">
              <div class="paymentOption">
                  <i class="fas fa-money-bill-wave-alt"></i>
                  <p><a href="home.html">Payments</a></p>
              </div>
              <div class="paymentOption">
                  <i class="fas fa-chart-pie"></i>
                  <p><a href="splitCollect.html">Splits</a></p>
              </div>
              <div class="paymentOption">
                  <i class="fas fa-cog"></i>
                  <p><a href="userSettings.html">Settings</a></p>
              </div>
          </div>
        </div>
        <script>
          function settleUser()
          {
            let tokenId = sessionStorage.getItem('userToken');
            console.log('Token '+tokenId);

            let userCode = sessionStorage.getItem('userIdentity');
            console.log('ID: '+userCode);
            fetchUrl = 'http://127.0.0.1:8000/splitpay/settleup/'+userCode+'/';
            fetch(fetchUrl,{
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'User-Agent': 'PostmanRuntime/7.28.0',
                'Authorization': 'Token '+tokenId
            },
        }).then(res =>{
            return res.json()
        })
        .then(data => {
            console.log(data);

            window.location.href = 'http://127.0.0.1:5500/Frontend/HTML/paymentComplete.html';
        })
        .catch(error => console.log(error))
      }
        </script>
    </body>
</html>