<!DOCTYPE html>
<html>
    <head>
        <title>SplitPay</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="Stylesheet" href="css/login.css">
        <link rel="icon" type="image" href="images/icon.jpg">
        <link rel="stylesheet" href="css/payments.css">
        <link rel="stylesheet" href="css/pay.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/bc6f27e589.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            .m-container{
                background-image: url(images/loginbg.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .b-body{
                margin-top: 200px;
            }
            form{
                width: 80%;
            }
            .userPassword{
                width:48%;
            }
        </style>
    </head>
    <body>
        <div class="m-container">
            <div class="b-body">
                <h3>Welcome!</h3>
                <h4>Let's get you started</h4>
                <h3 id="errorMessage" style="color: red;display: none;">It looks like this email is taken.</h3>
                <h3 id="errorMessage-1" style="display: none;">Try <a href="login.html">Logging In</a></h3>
                <form action="/createUser" method="POST" id="form" enctype="multipart/form-data">
                    <label for="u-name">Your Full Name</label><br>
                    <input name="uName" required placeholder="John Doe" type="text"><br>
                    <label for="u-num">Your Phone Number</label><br>
                    <input name="uNum" required placeholder="XXXXX XXXXX" type="tel" pattern="[0-9]{10}"><br>
                    <label for="uEmail">Your Email</label><br>
                    <input name="uEmail" required placeholder="xyz@xyz.com" type="email"><br>
                    <input class="userPassword" name="uPass" required placeholder="Password" type="password">
                    <input class="userPassword" name="u-pass-1" required placeholder="Confirm Password" type="password">
                    <label id="lab-bef" style="color: black;" for="avatar"><i class="fas fa-images"></i>Add Image</label>
                    <input required type="file" id="avatar" style="display: none;" onchange="dispimg(event)" name="profile_pic"accept="image/png, image/jpeg">
                    <img accept="image/*" src="" id="img-af" width="50px" height="50px" style="display: none;">
                    <!-- <a href="#">Forgot Password</a> -->
                    <input type="submit" value="Continue">
                </form>
                <a href="/login">Click Here to Log In</a>
            </div>
        </div>
        <script>
            var dispimg = function (event)
            {
                var disp = document.getElementById("img-af");
                var out = event.target.files[0];
                disp.style.display = "block";
                disp.src = URL.createObjectURL(out);
            };
        </script>
    </body>
</html>