<!DOCTYPE html>
<html>
    <head>
        <title>SplitPay</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="Stylesheet" href="../CSS/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="icon" type="image" href="../Images/icon.jpg">
        <style>
            .m-container{
                background-image: url(../Images/loginbg.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .b-body{
                margin-top: 200px;
            }
        </style>
    </head>
    <body>
        <div class="m-container">
            <div class="b-body">
                <h3>Welcome!</h3>
                <h4>Let's get you started</h4>
                <div class="u-nav">
                    <a href="#">Basic Details</a>
                    <a href="#">Add Security</a>
                    <a href="#">Add Funds</a>
                </div>
                <form>
                    <label for="u-pass1">Enter Your Password</label><br>
                    <input id="u-pass1" required placeholder="Password" type="password"><br>
                    <label for="u-pass2">Confirm your Password</label><br>
                    <input id="u-pass2" required placeholder="Password again" type="password"><br>
                    <a href="#">Forgot Password</a>
                    <input id="i-sub" type="submit" value="Continue">
                </form>
                <a href="#">Click Here to Log In</a>
            </div>
        </div>
    </body>
</html>